@import '../abstratct/variaveis.scss';

.chamada{
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    h3{
        font-size: $tamanho-do-texto;
        margin-bottom: 1.5rem;
        color: $cor-primaria;
    }
    p{
        font-size: $tamanho-do-texto / 2.7 ;
        line-height: 1.5rem;
        letter-spacing: 2px;
        color: $cor-primaria;
    }
}